<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:45:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCatalogoUsuarios.setup()[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">&gt;&gt;setup</td>
<td>&nbsp;</td>  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:45:37</td>   <td>37061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCatalogoUsuarios.setup()[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">&gt;&gt;setup</td>
<td>&nbsp;</td>  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:45:56</td>   <td>56312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCatalogoUsuarios.setup()[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">&gt;&gt;setup</td>
<td>&nbsp;</td>  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:45:32</td>   <td>32496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCatalogoUsuarios.tearDown()[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">&lt;&lt;tearDown</td>
<td>&nbsp;</td>  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:45:56</td>   <td>56095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCatalogoUsuarios.tearDown()[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">&lt;&lt;tearDown</td>
<td>&nbsp;</td>  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:46:15</td>   <td>75154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCatalogoUsuarios.tearDown()[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">&lt;&lt;tearDown</td>
<td>&nbsp;</td>  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:45:07</td>   <td>7156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_modificarUsuario(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">test_modificarUsuario</td>
  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:45:43</td>   <td>43277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_modificarUsuario(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">test_modificarUsuario</td>
  <td>main@1938377818</td>   <td></td> </tr>
<tr bgcolor="7f6ee7">  <td>20/09/23 12:46:02</td>   <td>62693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_modificarUsuario(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@7a9eccc4]">test_modificarUsuario</td>
  <td>main@1938377818</td>   <td></td> </tr>
</table>
