<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1eaa2">  <td>20/09/24 16:11:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLogin.setup()[pri:0, instance:recaudador.INLO1_login.TestLogin@2758fe70]">&gt;&gt;setup</td>
<td>&nbsp;</td>  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/09/24 16:11:53</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLogin.test_login()[pri:0, instance:recaudador.INLO1_login.TestLogin@2758fe70]">test_login</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/09/24 16:11:53</td>   <td>160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLogin.test_loginError()[pri:0, instance:recaudador.INLO1_login.TestLogin@2758fe70]">test_loginError</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>20/09/24 16:11:53</td>   <td>169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRecuperarContrasena.setup()[pri:0, instance:recaudador.INLO1_login.TestRecuperarContrasena@1f36e637]">&gt;&gt;setup</td>
<td>&nbsp;</td>  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>20/09/24 16:11:53</td>   <td>179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRecuperarContrasena.test_olvidoContrasenaHappyPath()[pri:0, instance:recaudador.INLO1_login.TestRecuperarContrasena@1f36e637]">test_olvidoContrasenaHappyPath</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>20/09/24 16:11:53</td>   <td>186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRecuperarContrasena.test_olvidoContrasenaUsuarioInactivo()[pri:0, instance:recaudador.INLO1_login.TestRecuperarContrasena@1f36e637]">test_olvidoContrasenaUsuarioInactivo</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>20/09/24 16:11:53</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRecuperarContrasena.test_olvidoContrasenaValidaciones()[pri:0, instance:recaudador.INLO1_login.TestRecuperarContrasena@1f36e637]">test_olvidoContrasenaValidaciones</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCatalogoUsuarios.setup()[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">&gt;&gt;setup</td>
<td>&nbsp;</td>  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.restablecerContrasena(java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">restablecerContrasena</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.restablecerContrasena(java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">restablecerContrasena</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.restablecerContrasena(java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">restablecerContrasena</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_AgregarUsuario(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">test_AgregarUsuario</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_AgregarUsuario(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">test_AgregarUsuario</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_AgregarUsuario(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">test_AgregarUsuario</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_modificarUsuario(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">test_modificarUsuario</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_modificarUsuario(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">test_modificarUsuario</td>
  <td>main@811587677</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>20/09/24 16:11:53</td>   <td>299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCatalogoUsuarios.test_modificarUsuario(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:recaudador.INAA1_administracionAplicacion.TestCatalogoUsuarios@578486a3]">test_modificarUsuario</td>
  <td>main@811587677</td>   <td></td> </tr>
</table>
